@import "../../styles/colors";

$card-padding-h: 10px;
$card-padding-v: 8px;
$card-padding-right-small: $card-padding-h / 4;
$card-height: 2.5em;
$text-horizontal-margin: (($card-height - 1em) / 2);
$legend-font-size: 0.7em;

div.card {
  $left-border-width: 2px;
  $hover-anim-time: 0.1s;

  height: $card-height;
  width: auto;

  padding: $card-padding-v $card-padding-h;
  margin-bottom: 6px;

  @media screen and (max-width: 330px) {
    padding-right: $card-padding-right-small;
  }

  background-color: white;
  border-left: $left-border-width solid $third-color  ;

  -webkit-transition: border-left-width $hover-anim-time;
  transition: border-left-width $hover-anim-time;

  box-shadow: 1px 1px 5px $gray-light;

  &:hover {
    border-left-width: 2*$left-border-width;
  }
}