$first-color: black;
$second-color: white;
$third-color: #ff2688;

$background-color: #f1f1f1;
$gray: #bdbdbd;
$gray-light: #e2e2e2;
$gray-dark: #8a8a8a;
//
//$fourth-color: #291528;
$fifth-color: #0094C6;
//
$link-color: $third-color;
