@import "~normalize.css";
@import "_colors.scss";

body {
  font-family: 'Open Sans', sans-serif;
  background-color: $background-color;
  margin:0;
  padding: 0;

  @media screen and (max-width: 480px) {
    font-size:80%;
  }

  h1, h2 {
    color: $gray-dark;
  }

  a:hover {
    color: $gray-dark;
    transition: color 0.4s;
  }

  a, a:active{
    text-decoration: none;
    color: $link-color;

    transition: color 0.4s;
  }
}