﻿@model globe_trotter.backend.ViewModels.IndexViewModel

<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Globe.trotter</title>
    <script src="https://use.fontawesome.com/5c1283909e.js"></script>
    <link rel="stylesheet" type="text/css" href="@Model.CssUrl" />
</head>
<body>
<div id="app">
    
</div>
    <script src="@Model.JavascriptUrl"></script>
</body>
</html>