@import "../../styles/colors";

.country-card {
  .country-name {
    display:inline-block;
    margin-left: 10px;
  }
}

.country-details {
  &:after {
    content: "";
    display:block;
    clear:both;
  }

  padding: 10px;

  .country-details__flag {
    float: left;
    margin: 5px 15px 5px 5px;
  }

  background-color: white;
  box-shadow: 1px 1px 5px $gray;
}