@import "../../styles/_colors.scss";
@import "../../styles/sizes";

$logo-size: 4.5em;
$logo-mobile-size: 1.7em;

.banner {
  background-color: $first-color;
  height: 300px;

  -webkit-transition: height 0.5s;
  transition: height 0.5s;

  @media screen and (max-width: 480px) {
    height: $logo-mobile-size;
    padding: 8px 8px;
  }
  margin-bottom: 20px;
}

.banner__logo {
  margin: 0;
  padding-top:160px;
  font-family: 'Droid Serif', serif;
  font-size: $logo-size;
  text-align: center;
  color: $second-color;

  -webkit-transition: padding 0.5s, text-align 0.5s, font-size 0.5s;
  transition: padding 0.5s, text-align 0.5s, font-size 0.5s;

  .colored {
    color: $third-color
  }

  @media screen and (max-width: 480px) {
    padding: 0;
    text-align:left;
    font-size:$logo-mobile-size;
  }
}

.page-container {
  width:$page-container-width;
  margin: 30px auto;

  @media screen and (max-width: ($page-container-width + 40)) {
    width: auto;
    margin-left:10px;
    margin-right:10px;
  }

  @media screen and (max-width: 350px) {
    margin-left:0;
    margin-right:0;
  }
}